<div style = 'text-align: center; width: 75%'>
    <div>
        @{
            foreach(Product product in ViewBag.products) {
                <div style = 'width: 200px; height: 200px; margin: 20px; display: inline-block'>
                    @if(@product.Image == null) {
                        <img height = '100px' src = 'https://cdn4.iconfinder.com/data/icons/shopping-21/64/shopping-01-512.png' alt = 'shopping cart'>
                    }
                    else {
                        <img height = '100px' src = '@product.Image' alt = '@product.Name'>
                    }
                    <p style = 'text-align:center'>@product.Name</p>
                    <p style = 'text-align:center; margin-top: -20px'>(@product.Stock) left</p>
                </div>
            }
        }
    </div>
    <div>
        <h2>Recent orders</h2>
        @{
            foreach(Transaction transaction in ViewBag.transactions) {
                <p>@transaction.Customer.Name purchased @transaction.Quantity @transaction.Product.Name</p>
            }
        }
    </div>
    <div>
        <h2>New Customers</h2>
        @{
            foreach(Customer customer in ViewBag.customers) {
                <p>@customer.Name joined the store</p>
            }
        }
    </div>
</div>